<a href="https://colab.research.google.com/github/Kunal00067/Python_lab/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# lab 8 program1
my_tuple = ("apple", "banana", "cherry")

# Print the whole tuple
print("Tuple:", my_tuple)

# Access individual elements
print("First element:", my_tuple[0])
print("Second element:", my_tuple[1])
print("Third element:", my_tuple[2])

# using loop
print("Looping through tuple:")
for fruit in my_tuple:
    print(fruit)

Tuple: ('apple', 'banana', 'cherry')
First element: apple
Second element: banana
Third element: cherry
Looping through tuple:
apple
banana
cherry

In [ ]:
#lab 8

# Create two tuples
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (6, 7, 8)

# Access elements using slicing
print("Slice from index 1 to 3:", tuple1[1:4])

# Find length of tuple using len()
print("Length of tuple1:", len(tuple1))

# Check if element exists using 'in' operator
print("Is 3 in tuple1?", 3 in tuple1)
print("Is 10 in tuple1?", 10 in tuple1)

# Concatenate two tuples
concatenated = tuple1 + tuple2
print("Concatenated tuple:", concatenated)

# Repeat tuple multiple times using *
repeated = tuple2 * 3
print("Repeated tuple2 three times:", repeated)

# Convert list to tuple
my_list = ['a', 'b', 'c']
converted_tuple = tuple(my_list)
print("Converted tuple from list:", converted_tuple)

In [5]:
#lab 8

# 1. Unpack a tuple into variables
numbers = (10, 20, 30)
a, b, c = numbers
print("Unpacked values:", a, b, c)

# 2. Swap two numbers using tuple unpacking
x = 5
y = 10
print("Before swap: x =", x, ", y =", y)
x, y = y, x
print("After swap: x =", x, ", y =", y)

# 3. Find sum, min, and max of numeric tuple elements
num_tuple = (4, 8, 15, 16, 23, 42)
total = sum(num_tuple)
minimum = min(num_tuple)
maximum = max(num_tuple)
print("Sum:", total)
print("Min:", minimum)
print("Max:", maximum)

Unpacked values: 10 20 30
Before swap: x = 5 , y = 10
After swap: x = 10 , y = 5
Sum: 108
Min: 4
Max: 42